<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<hr />
<div class="center-vertically"><div class="table-container" id="userTableContainer"> </div></div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/User/ListUserPatialView",
            success: function (partialView) {
                $('#userTableContainer').html(partialView);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
</script>

